.card {
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.14);
    background-color: $color-white;

    &:not(:first-child) {
        margin-top: 1.5rem;
    }

    &__header {
        @include flexbox(row, space-between);

        position: relative;
        align-items: center;
    }

    &__title {
        font-size: 1.5rem;
        margin: 1rem 0;
    }

    &__conditions {
        @include flexbox(row, start, wrap);

        align-items: center;
    }

    &__temperature-holder {
        @include flexbox();
        align-items: center;
    }

    &__temperature {
        font-size: 4rem;

        @include sm {
            font-size: 6em;
        }
    }

    &__temperature-unit {
        font-size: 0.5em;
        vertical-align: super;
    }

    &__condition-item {

        @include sm {
            margin-bottom: 0;
        }

        @media (max-width: 457px) {
            margin: 0;
        }
    }
}
