header {
    padding: 0 2rem;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 12px rgba(0,0,0,.14);
    position: relative;
    z-index: 2;
}

@media (max-width: 575.98px) {
    header {
        padding: 0 1rem;
    }
}