body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.bg-app {
  background-color: #57d2ef;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-collapse {
  flex-basis: 0;
}

.navbar-nav .nav-item:first-child .nav-link {
  font-size: 2rem;
  padding-right: 2rem;
}

.navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0;
}

.modal__content {
  min-width: 280px;
}

.app__title {
  color: white;
  font-size: 1.3rem;
}

.remove-btn {
  cursor: pointer;
  border: 0;
}

.remove-btn:focus {
  outline: 0;
}

.custom-icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.custom-icon.icon-reload {
  background-image: url('/images/icon-refresh.svg');
}

.custom-icon.icon-add {
  background-image: url('/images/icon-add.svg');
}

.custom-icon.icon-app {
  background-image: url('/images/icon-app.svg');
}

span.icon-app {
  width: 32px;
  height: 32px;
  display: block;
}

.icon-close {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-image: url('/images/icon-close.svg');
}

.weather-conditions {
  align-items: center;
}

.weather-description {
  flex-grow: 1;
}

.weather-description dl {
  margin: 0;
}

.weather-description dd {
  margin-bottom: 0;
}

.temp-text {
  font-size: 6em;
}

.temp-unit {
  font-size: 0.5em;
  vertical-align: super;
}

.temperature {
  flex-grow: 1;
  align-items: center;
}

.card {
  max-width: 800px;
  margin: auto;
  align-self: center;
}

.card .icon {
  background-repeat: no-repeat;
  background-size: contain;
  height: 128px;
  width: 128px;
  display: inline-block;
}

.app__title .icon {
  background-repeat: no-repeat;
  background-size: contain;
  height: 32px;
  width: 32px;
  display: inline-block;
}

.icon.sunny-day {
  background-image: url("/images/wi-day-sunny.svg");
}

.card .icon.sunny-night {
  background-image: url("/images/wi-day-sunny.svg");
}

.card .icon.rain {
  background-image: url("/images/wi-rain.svg");
}

.card .icon.snow {
  background-image: url("/images/wi-snow.svg");
}

.card .icon.sleet {
  background-image: url("/images/wi-sleet.svg");
}

.card .icon.windy {
  background-image: url("/images/wi-windy.svg");
}

.card .icon.fog {
  background-image: url("/images/wi-day-fog.svg");
}

.card .icon.cloudy {
  background-image: url("/images/wi-cloudy.svg");
}

.card .icon.partly-cloudy-day {
  background-image: url("/images/wi-day-cloudy.svg");
}

.card .icon.partly-cloudy-night {
  background-image: url("/images/wi-day-cloudy.svg");
}

.card .icon.thunderstorms {
  background-image: url("/images/wi-thunderstorm.svg");
}

@media (max-width: 575.98px) {
  .card .icon {
    width: 86px;
    height: 86px;
  }

  .temp-text {
    font-size: 4em;
  }
}